<ion-header>
  <ion-toolbar>
    <ion-title>
      Projects
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="https://cdn.pixabay.com/photo/2016/08/10/19/13/atlanta-1584094_1280.jpg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Project 1</ion-card-subtitle>
      <ion-card-title>Project 1 Name</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel provident error perferendis commodi cumque possimus similique eveniet praesentium adipisci pariatur delectus harum, expedita illum autem atque voluptate nihil. Doloribus, nesciunt?</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="https://cdn.pixabay.com/photo/2016/08/10/19/13/atlanta-1584094_1280.jpg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Project 2</ion-card-subtitle>
      <ion-card-title>Project 2 Name</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel provident error perferendis commodi cumque possimus similique eveniet praesentium adipisci pariatur delectus harum, expedita illum autem atque voluptate nihil. Doloribus, nesciunt?</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="https://cdn.pixabay.com/photo/2016/08/10/19/13/atlanta-1584094_1280.jpg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Project 3</ion-card-subtitle>
      <ion-card-title>Project 3 Name</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel provident error perferendis commodi cumque possimus similique eveniet praesentium adipisci pariatur delectus harum, expedita illum autem atque voluptate nihil. Doloribus, nesciunt?</p>
    </ion-card-content>
  </ion-card>
</ion-content>
